<div class="article__page">
  <section class="article__header">
    {{breadcrumbs}}
    <h1 class="article__title" title="{{article.title}}">
      {{article.title}}
      {{#if article.internal}}
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
          <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
          <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
        </svg>
      {{/if}}
    </h1>
  </section>
  <aside class="article__aside">
    <nav class="aside__contents">
      <span class="aside__header">{{section.name}}</span>
      <div class="aside__articles">
        <ul>
          {{#each section.articles}}
          <li>
            <a href="{{url}}" class="aside__article-list-item {{#is id ../article.id}}current-article{{/is}}">{{title}}</a>
          </li>
          {{/each}}
          {{#if section.more_articles}}
          <a href="{{section.url}}" class="article__aside-see-more">{{t 'see_more'}}</a>
          {{/if}}
        </ul>
      </div>
    </nav>
  </aside>
  <div class="article__content">
    <div class="article__body">
      {{article.body}}
    </div>
    {{#if attachments}}
      <div class="article__attachments">
        <div class="article__attachments-header">Attachments</div>
        <ul class="individual__attachments">
          {{#each attachments}}
            <li class="individual__attachment-item">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="attachment-icon">
                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4"/>
              </svg>
              <a href="{{url}}" target="_blank">{{name}}</a>
              {{!-- <span class="attachment-meta-item meta-data">{{size}}</span> --}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    <div class="article__updated">
      {{#is article.created_at article.edited_at}}
        <p>This page was last updated on {{date article.created_at format='medium'}}.</p>
      {{else}}
        <p>This page was last updated on {{date article.edited_at format='medium'}}.</p>
      {{/is}}
    </div>
  </div>
  <footer class="article__footer">
    {{#with article}}
      <div class="article__votes">
        <span class="article__votes-question" id="article-votes-label">{{t 'was_this_article_helpful'}}</span>
        {{vote "up" role="radio" class="button article-vote article-vote-up"}}
        {{vote "down" role="radio" class="button article-vote article-vote-down"}}
      </div>
    {{/with}}
  </footer>
</div>
