<section class="section hero">
  <div class="Hero__group__category" category="{{category.name}}">
    <div class="Hero__icon">
      {{#is category.name 'minFraud Services'}}
        <include src="svg/icon-minfraud.svg"></include>
      {{/is}}

      {{#is category.name 'GeoIP and GeoLite'}}
        <include src="svg/icon-geoip.svg"></include>
      {{/is}}

      {{#is category.name 'Account and Purchasing'}}
        <include src="svg/icon-account-and-purchasing.svg"></include>
      {{/is}}
    </div>
    <h2 class="Hero__title">{{category.name}}</h2>
    {{#is category.name 'minFraud Services'}}
      <h3 class="Hero__subtitle">Transaction Risk API</h3>
    {{/is}}

    {{#is category.name 'GeoIP and GeoLite'}}
      <h3 class="Hero__subtitle">Databases and Web Services</h3>
    {{/is}}

    {{#is category.name 'Account and Purchasing'}}
      <h3 class="Hero__subtitle">Managing Your MaxMind Services</h3>
    {{/is}}
    {{!-- Hide this for now <include src="svg/icon-search.svg"></include> --}}
    {{search scoped=settings.scoped_kb_search submit=false placeholder='Search by keyword' class='hero__search search search-full'}}
  </div>
</section>
<div class="Overview-module__content">

  <div class="LinkGroup__container">
    <section class="LinkGroup__section">
      <h3 class="">Guides</h3>
      <div class="LinkGroup__cards">
        {{#each sections}}
          <a class="LinkGroupCard__container" href="{{url}}">
            <h3 class="LinkGroupCard__header">{{name}}</h3>
            {{#if description}}
            <p class="LinkGroupCard__description">{{description}}</p>
            {{/if}}
          </a>
        {{else}}
          <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
        {{/each}}
      </div>
    </section>
  </div>
</div>
