<section class="section hero" data-category="{{category.name}}">
  <div class="hero__lockup">
    <div class="hero__icon">
    {{#is category.name 'minFraud Web Services'}}
      <include src="svg/icon-minfraud.svg"></include>
    {{/is}}

    {{#is category.name 'GeoIP2 and GeoLite2'}}
      <include src="svg/icon-geoip.svg"></include>
    {{/is}}

    {{#is category.name 'Account and Purchasing'}}
      <include src="svg/icon-account.svg"></include>
    {{/is}}

    {{#is category.name 'Data Privacy'}}
      <include src="svg/icon-privacy.svg"></include>
    {{/is}}

    {{#is category.name 'Support'}}
      <include src="svg/icon-support.svg"></include>
    {{/is}}

    {{#is category.name 'Sales'}}
      <include src="svg/icon-sales.svg"></include>
    {{/is}}
    </div>
    <h2 class="hero__title">{{category.name}}</h2>
    <h3 class="hero__subtitle">
    {{#is category.name 'minFraud Web Services'}}
      Transaction Risk API
    {{/is}}

    {{#is category.name 'GeoIP2 and GeoLite2'}}
      Databases and Web Services
    {{/is}}

    {{#is category.name 'Account and Purchasing'}}
      Managing Your MaxMind Services
    {{/is}}

    {{#is category.name 'Support'}}
      Support subtitle
    {{/is}}

    {{#is category.name 'Sales'}}
      Sales subtitle
    {{/is}}
    </h3>
  </div>
</section>
<div class="overview__content">
  <p class="overview__description">{{category.description}}</p>
  <div class="category__container">
    <section class="category__section">
      <h3 class="category__section-heading">Guides</h3>
      <div class="category__section-cards" data-category="{{category.name}}">
        {{#each sections}}
          <a class="category__card-container" href="{{url}}">
            <h3 class="category__card-header">{{name}}</h3>
            {{#if description}}
            <p class="category__card-description">{{description}}</p>
            {{/if}}
            <div class="category__card-arrow">
              <include src="svg/icon-arrow-right.svg"></include>
            </div>
          </a>
        {{else}}
          <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
        {{/each}}
      </div>
    </section>
  </div>
</div>
