<div class="container-divider"></div>
<div id="main-content" class="error-page">
  <h1>{{t 'oops'}}</h1>

  {{#is error 'unauthorized'}}
    <h2>{{link 'sign_in'}}</h2>
  {{/is}}

  {{#is error 'forbidden'}}
    <h2>{{t 'not_authorized'}}</h2>
  {{/is}}

  {{#is error 'not_found'}}
    <h2>{{t 'nonexistent_page'}}</h2>
    <p>{{t 'mistyped_address_or_moved_page'}}</p>

    <h3>Were you looking for data corrections?</h3>
    <p>Our data corrections pages have moved. You can
      <a href="https://www.maxmind.com/en/geoip-data-correction-request" target="_blank" rel="noopener">learn more about data corrections on our main website</a>, or go directly to the relocated data corrections forms:</p>
      <ul>
        <li><a href="https://www.maxmind.com/en/geoip-location-correction" target="_blank" rel="noopener">Correct
        the geolocation of an IP address</a></li>
        <li><a href="https://www.maxmind.com/en/geoip-isp-org-correction" target="_blank" rel="noopener">Correct
        the ISP or organization name of an IP address</a></li>
        <li>To correct other IP intelligence data (such as anonymizer status or
          connection type), email <a href="mailto:correction@maxmind.com" target="_blank" rel="noopener">correction@maxmind.com</a>.
        </li>
      </ul>
  {{/is}}

  <p>
  {{#link 'help_center'}}
    {{t 'back_to_homepage'}}
  {{/link}}
  </p>
</div>
