<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="header-area">
    <a aria-label="Home" class="logo" href="{{page_path 'help_center'}}">
      <include src="svg/maxmind-logo.svg"></include>
      <span>Support</span>
    </a>
    <div class="header-search">
      {{search instant=settings.instant_search}}
      <div class="header-search-mobile">
        <button aria-label="Show search bar" class="search-mobile-btn">
          <include src="svg/icon-search.svg"></include>
        </button>
      </div>
    </div>
    <div class="nav-wrapper">
      <button id="header-checkbox" class="header-module-toggle closed">
        <include src="svg/icon-menu-open.svg"></include>
        <include src="svg/icon-menu-close.svg"></include>
      </button>
      <nav id="header-menu">
        <a class="nav-item contact-us-header" href="{{page_path 'new_request'}}">
          <span class="nav-icon" role="img">
            <include src="svg/icon-new-request.svg">
          </span>
          <span class="nav-label">Contact Us</span>
        </a>
      </nav>
    </div>
  </div>
</header>

<!-- GULP REPLACE - MAIN WRAPPER OPENING TAG -->

<div class="header-sidebar header-sidebar-hidden">
  <nav class="sidebar-list">
    <a class="nav-item contact-us-sidenav" href="{{page_path 'new_request'}}">
      <span class="nav-icon" role="img">
        <include src="svg/icon-new-request.svg">
      </span>
      <span class="nav-label">Contact Us</span>
    </a>
    <ul role="tree">
      <li role="treeitem" aria-level="1" aria-setsize="4" aria-posinset="1" aria-expanded="false"
        class="nav-category is-closed" data-category-name="minfraud-services">
        <a class="nav-category-header nav-item" data-name="minfraud-services" tabindex="0">
          <span class="nav-icon" role="img">
            <include src="svg/icon-minfraud.svg"></include>
          </span>
          <span class="nav-label">minFraud</span>
          <span class='nav-dropdown'>
            <include src="svg/icon-caret-down.svg"></include>
          </span>
        </a>
        <ul class="sub-nav-items">
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="9" aria-posinset="1" class="nav-item"
              href="/hc/en-us/categories/1260801482329-minFraud-Web-Services">
              <span>See all articles</span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="9" aria-posinset="2" class="nav-item"
              href='/hc/en-us/sections/4407832296475-Introduction-to-the-minFraud-Service'>
              <span>
                Introduction to the minFraud Service
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="9" aria-posinset="3" class="nav-item"
              href='/hc/en-us/sections/4407465695259-Integration-and-Testing'>
              <span>
                Integration and Testing
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="9" aria-posinset="4" class="nav-item"
              href='/hc/en-us/sections/4407474210459-Risk-Scoring'>
              <span>
                Risk Scoring
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="9" aria-posinset="5" class="nav-item"
              href='/hc/en-us/sections/4407474216987-Risk-Data'>
              <span>
                Risk Data
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="9" aria-posinset="6" class="nav-item"
              href='/hc/en-us/sections/4408742510619-Submit-and-Review-Transactions'>
              <span>
                Submit and Review Transactions
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="9" aria-posinset="7" class="nav-item"
              href='/hc/en-us/sections/4407475559579-Manual-Review-Custom-Rules-and-Dispositions'>
              <span>
                Custom Rules and Dispositions
              </span>
            </a>
          </li>
          <li role="none" class="nav-has-divider-top">
            <a role="treeitem" aria-level="2" aria-setsize="9" aria-posinset="8" class="nav-item"
              href='https://dev.maxmind.com/minfraud?lang=en' target="_blank" rel="noopener">
              <span>
                Developer Docs
              </span>
              <span class="nav-external-link-icon">
                <include src="svg/icon-external-link.svg"></include>
              </span>
            </a>
          </li>
          <li role="none" class="nav-has-divider-bottom">
            <a role="treeitem" aria-level="2" aria-setsize="9" aria-posinset="9" class="nav-item"
              href='https://dev.maxmind.com/minfraud/release-notes?lang=en' target="_blank" rel="noopener">
              <span>
                minFraud Release Notes
              </span>
              <span class="nav-external-link-icon">
                <include src="svg/icon-external-link.svg"></include>
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li role="treeitem" aria-level="1" aria-setsize="4" aria-posinet="2" aria-expanded="false"
        class="nav-category is-closed" data-category-name="geoip-and-geolite">
        <a class="nav-category-header nav-item" data-name="geoip-and-geolite" tabindex="0">
          <span class="nav-icon" role="img">
            <include src="svg/icon-geoip.svg"></include>
          </span>
          <span class="nav-label">GeoIP2 and GeoLite2</span>
          <span class='nav-dropdown'>
            <include src="svg/icon-caret-down.svg"></include>
          </span>
        </a>
        <ul class="sub-nav-items">
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="1" class="nav-item"
              href="/hc/en-us/categories/1260801446650-GeoIP2-and-GeoLite2">
              <span>See all articles</span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="2" class="nav-item"
              href='/hc/en-us/sections/4407519834267-IP-Geolocation'>
              <span>
                IP Geolocation
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="3" class="nav-item"
              href='/hc/en-us/sections/4407512691867-IP-Intelligence-Data'>
              <span>
                IP Intelligence Data
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="4" class="nav-item"
              href='/hc/en-us/sections/4407512701595-Integrate-Databases'>
              <span>
                Work with Databases
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="5" class="nav-item"
              href='/hc/en-us/sections/4407512706203-Integrate-Web-Services'>
              <span>
                Work with Web Services
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="6" class="nav-item"
              href='/hc/en-us/articles/4408252036123-GeoIP-Corrections'>
              <span>
                Correct GeoIP2 Data
              </span>
            </a>
          </li>
          <li role="none" class="nav-has-divider-top">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="7" class="nav-item"
              href='https://dev.maxmind.com/geoip?lang=en' target="_blank" rel="noopener">
              <span>
                Developer Docs
              </span>
              <span class="nav-external-link-icon">
                <include src="svg/icon-external-link.svg"></include>
              </span>
            </a>
          </li>
          <li role="none" class="nav-has-divider-bottom">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="8" class="nav-item"
              href='https://dev.maxmind.com/geoip/release-notes?lang=en' target="_blank" rel="noopener">
              <span>
                GeoIP2 Release Notes
              </span>
              <span class="nav-external-link-icon">
                <include src="svg/icon-external-link.svg"></include>
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li role="treeitem" aria-level="1" aria-setsize="4" aria-posinet="3" aria-expanded="false"
        class="nav-category is-closed" data-category-name="account-and-purchasing">
        <a class="nav-category-header nav-item" data-name="account-and-purchasing" tabindex="0">
          <span class="nav-icon" role="img">
            <include src="svg/icon-account.svg"></include>
          </span>
          <span class="nav-label">Account</span>
          <span class='nav-dropdown'>
            <include src="svg/icon-caret-down.svg"></include>
          </span>
        </a>
        <ul class="sub-nav-items">
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="1" class="nav-item"
              href="/hc/en-us/categories/1260801446690-Account-and-Purchasing">
              <span>See all articles</span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="2" class="nav-item"
              href='/hc/en-us/sections/4407099780891-Manage-my-Account'>
              <span>
                Manage my Account
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="3" class="nav-item"
              href='/hc/en-us/sections/1260801636209-Secure-my-Account'>
              <span>
                Secure my Account
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="4" class="nav-item"
              href='/hc/en-us/sections/1260801610490-Manage-my-License-Keys'>
              <span>
                Manage my License Keys
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="5" class="nav-item"
              href='/hc/en-us/sections/1260801636249-Purchases-Subscriptions-and-Refunds'>
              <span>
                Purchases, Subscriptions, and Refunds
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="6" class="nav-item"
              href='/hc/en-us/sections/4408927451291-Online-End-User-License-Agreement'>
              <span>
                Online End User License Agreement
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="7" class="nav-item"
              href='/hc/en-us/sections/4408928045979-Commercial-Licenses'>
              <span>
                Commercial Licenses
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="8" aria-posinset="8" class="nav-item"
              href='/hc/en-us/sections/4408936647451-GeoLite2-End-User-License-Agreement'>
              <span>
                GeoLite2 End User License Agreement
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li role="treeitem" aria-level="1" aria-setsize="4" aria-posinet="4" aria-expanded="false"
        class="nav-category is-closed" data-category-name="data-privacy-and-licenses">
        <a class="nav-category-header nav-item" data-name="data-privacy-and-licenses" tabindex="0">
          <span class="nav-icon" role="img">
            <include src="svg/icon-privacy.svg"></include>
          </span>
          <span class="nav-label">Data Privacy</span>
          <span class='nav-dropdown'>
            <include src="svg/icon-caret-down.svg"></include>
          </span>
        </a>
        <ul class="sub-nav-items">
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="3" aria-posinset="1" class="nav-item"
              href="/hc/en-us/categories/4407628905883-Data-Privacy-and-Licenses">
              <span>See all articles</span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="3" aria-posinset="2" class="nav-item"
             href='/hc/en-us/sections/4408928331803-GDPR-and-Other-Privacy-Laws'>
              <span>
                GDPR and Other Privacy Laws
              </span>
            </a>
          </li>
          <li role="none">
            <a role="treeitem" aria-level="2" aria-setsize="3" aria-posinset="3" class="nav-item"
             href='/hc/en-us/sections/4408936772251-Data-Handling-at-MaxMind'>
              <span>
                Data Handling at MaxMind
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

    <div class="sidebar-quick-links">
      <div class="sidebar-quick-links__heading">Quick Links</div>
      <ul class="sidebar-quick-links__link-list">
        <li class="sidebar-quick-links__link-list-item">
          <a
            class="sidebar-quick-links__link"
            href="#"
            target="_blank"
            rel="noopener"
          >
            <span>GeoIP Data Corrections</span>
            <span class="nav-external-link-icon">
                <include src="svg/icon-external-link.svg"></include>
              </span>
          </a>
        </li>
        <li class="sidebar-quick-links__link-list-item">
          <a
            class="sidebar-quick-links__link"
            href="/hc/en-us/articles/4409074791195-Data-Privacy-Requests"
          >
            <span>Data Privacy Requests</span>
          </a>
        </li>
        <li class="sidebar-quick-links__link-list-item">
          <a
            class="sidebar-quick-links__link"
            href="https://maxmind.typeform.com/to/CgJg20"
            target="_blank"
            rel="noopener"
          >
            <span>Product Feedback</span>
            <span class="nav-external-link-icon">
                <include src="svg/icon-external-link.svg"></include>
              </span>
          </a>
        </li>
        <li class="sidebar-quick-links__link-list-item">
          <a
            class="sidebar-quick-links__link"
            href="https://status.maxmind.com/"
            target="_blank"
            rel="noopener"
          >
            <span>System Status</span>
            <span class="nav-external-link-icon">
                <include src="svg/icon-external-link.svg"></include>
              </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
