<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="header-area">
    <a aria-label="Home" class="logo" href="{{page_path 'help_center'}}">
      <include src="svg/maxmind-logo.svg"></include>
      <span>Support</span>
    </a>
    <div class="header-search">
      {{search}}
      <div class="header-search-mobile">
        <button aria-label="Show search bar" class="search-mobile-btn">
          <include src="svg/icon-search.svg"></include>
        </button>
      </div>
    </div>
    <div class="nav-wrapper">
      <button id="header-checkbox" class="header-module-toggle closed">
        <include src="svg/icon-menu-open.svg"></include>
        <include src="svg/icon-menu-close.svg"></include>
      </button>
      <nav id="header-menu">
        <a class="nav-item contact-us-header" href="{{page_path 'new_request'}}">
          <span class="nav-icon" role="img">
            <include src="svg/icon-new-request.svg">
          </span>
          <span class="nav-label">Contact Us</span>
        </a>
      </nav>
    </div>
  </div>
</header>

<div class="header-sidebar header-sidebar-hidden">
  <nav class="sidebar-list">
    <a class="nav-item contact-us-sidenav" href="{{page_path 'new_request'}}">
      <span class="nav-icon" role="img">
        <include src="svg/icon-new-request.svg">
      </span>
      <span class="nav-label">Contact Us</span>
    </a>
    <div class="nav-category is-closed" data-name="minfraud-services">
      <a class="nav-category-header nav-item" data-name="minfraud-services">
        <span class="nav-icon" role="img">
          <include src="svg/icon-minfraud.svg"></include>
        </span>
        <span class="nav-label">minFraud</span>
        <span class='nav-dropdown'>
          <include src="svg/icon-caret-down.svg"></include>
        </span>
      </a>
      <ul class="sub-nav-items minfraud-services">
        <li>
          <a class="nav-item" href="/hc/en-us/categories/1260801482329-minFraud-Web-Services">
            Overview
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407832296475-Introduction-to-the-minFraud-Service'>
            <span>
              Introduction to the minFraud Service
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407465695259-Integration-and-Testing'>
            <span>
              Integration and Testing
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407474210459-Risk-Scoring'>
            <span>
              Risk Scoring
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407474216987-Risk-Data'>
            <span>
              Risk Data
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407475559579-Manual-Review-Custom-Rules-and-Dispositions'>
            <span>
              Manual Review, Custom Rules, and Dispositions
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-category is-closed" data-name="geoip-and-geolite">
      <a class="nav-category-header nav-item" data-name="geoip-and-geolite">
        <span class="nav-icon" role="img">
          <include src="svg/icon-geoip.svg"></include>
        </span>
        <span class="nav-label">GeoIP2 and GeoLite2</span>
        <span class='nav-dropdown'>
          <include src="svg/icon-caret-down.svg"></include>
        </span>
      </a>
      <ul class="sub-nav-items geoip-and-geolite">
        <li>
          <a class="nav-item" href="/hc/en-us/categories/1260801446650-GeoIP2-and-GeoLite2">
            Overview
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407519834267-IP-Geolocation'>
            <span>
              IP Geolocation
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407512691867-IP-Intelligence-Data'>
            <span>
              IP Intelligence Data
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407512701595-Integrate-Databases'>
            <span>
              Integrate Databases
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407512706203-Integrate-Web-Services'>
            <span>
              Integrate Web Services
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/articles/4408252036123-GeoIP-Corrections'>
            <span>
              GeoIP Corrections
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-category is-closed" data-name="account-and-purchasing">
      <a class="nav-category-header nav-item" data-name="account-and-purchasing">
        <span class="nav-icon" role="img">
          <include src="svg/icon-account-and-purchasing.svg"></include>
        </span>
        <span class="nav-label">Account</span>
        <span class='nav-dropdown'>
          <include src="svg/icon-caret-down.svg"></include>
        </span>
      </a>
      <ul class="sub-nav-items account-and-purchasing">
        <li>
          <a class="nav-item" href="/hc/en-us/categories/1260801446690-Account-and-Purchasing">
            Overview
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/4407099780891-Manage-my-Account'>
            <span>
              Manage my Account
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/1260801636209-Secure-my-Account'>
            <span>
              Secure my Account
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/1260801610490-Manage-my-License-Keys'>
            <span>
              Manage my License Keys
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href='/hc/en-us/sections/1260801636249-Purchases-Subscriptions-and-Refunds'>
            <span>
              Purchases, Subscriptions, and Refunds
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-category is-closed" data-name="data-privacy-and-licenses">
      <a class="nav-category-header nav-item" data-name="data-privacy-and-licenses">
        <span class="nav-icon" role="img">
          <include src="svg/icon-account-and-purchasing.svg"></include>
        </span>
        <span class="nav-label">Data Privacy</span>
        <span class='nav-dropdown'>
          <include src="svg/icon-caret-down.svg"></include>
        </span>
      </a>
      <ul class="sub-nav-items data-privacy-and-licenses">
        <li>
          <a class="nav-item" href="/hc/en-us/categories/4407628905883-Data-Privacy-and-Licenses">
            Overview
          </a>
        </li>
        <li>
          <a class="nav-item" href=''>
            <span>
              Online End User License Agreement
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href=''>
            <span>
              GeoLite2 End User License Agreement
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href=''>
            <span>
              Commercial Licenses and Custom Contracts
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href=''>
            <span>
              GDPR and other Privacy Laws
            </span>
          </a>
        </li>
        <li>
          <a class="nav-item" href=''>
            <span>
              CCPA Forms
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
