<script>
  var $body = document.body;
  $body.classList.add('page__home');

  const $pageHome = document.querySelector('.page__home');
  const $pageHomeHeaderSearch = document.querySelector('.header-search');

  if ($pageHome) {
    $pageHomeHeaderSearch.style.display = 'none';
  }
</script>

<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
    <h2>How can we help?</h2>
    {{!-- Hide this for now <include src="svg/icon-search.svg"></include> --}}
    {{search instant=settings.instant_search placeholder='Search by keyword' class='search search-full'}}
  </div>
</section>

<div class="toggle-container">
  <button class="categories-toggle-btn">Switch to Private</button>
</div>

<section class="categories-section categories-section--public active blocks">
  <div class="container">
    <ul class="blocks__list">
      {{!-- Only display the first three categories --}}
      {{#each (slice categories 0 4)}}
        <li class="blocks__item" data-name="{{name}}">
          <div class="blocks__item-header">
              <div class="blocks__item-lockup">
                <div class="blocks__item-icon">
                  {{#is name 'minFraud Services'}}
                    <include src="svg/icon-minfraud.svg"></include>
                  {{/is}}

                  {{#is name 'GeoIP and GeoLite'}}
                    <include src="svg/icon-geoip.svg"></include>
                  {{/is}}

                  {{#is name 'Account and Purchasing'}}
                    <include src="svg/icon-account-and-purchasing.svg"></include>
                  {{/is}}
                </div>
                <h2 class="blocks__item-heading">
                  {{name}}
                </h2>
              </div>
          </div>

          <div class="blocks__item-content">
            <span class="blocks-item-description">{{description}}</span>
          </div>

          <div class="blocks__item-links">
            <a href='{{url}}' class="blocks__item-link">
              <span class="blocks__item-link-text">View knowledge base</span>
              <include src="svg/icon-arrow-right.svg"></include>
            </a>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>

<section class="categories-section categories-section--private private blocks">
  <div class="container">
    <ul class="blocks__list">
      {{#each (filter categories on="description" starts_with="Internal")}}
        <li class="blocks__item" data-name="{{name}}">
          <div class="blocks__item-header">
            <div class="blocks__item-lockup">
              <div class="blocks__item-icon">
                {{#is name 'Sales'}}
                  <include src="svg/icon-sales.svg"></include>
                {{/is}}

                {{#is name 'Support'}}
                  <include src="svg/icon-support.svg"></include>
                {{/is}}

                {{#isnt name 'Sales'}}
                    {{#isnt name 'Support'}}
                      <include src="svg/icon-support.svg"></include>
                    {{/isnt}}
                {{/isnt}}
              </div>
              <h2 class="blocks__item-heading">
                {{name}}
              </h2>
            </div>
          </div>

          <div class="blocks__item-content">
            <span class="blocks-item-description">{{description}}</span>
          </div>

          <div class="blocks__item-links">
            <a href='{{url}}' class="blocks__item-link">
              <span class="blocks__item-link-text">View knowledge base</span>
              <include src="svg/icon-arrow-right.svg"></include>
            </a>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>

{{#if promoted_articles}}
  <div class="home__page-promoted">
   <div class="category__container">
      <section class="category__section">
        <h3 class="home__page-promoted-heading">Featured articles</h3>
        <div class="promoted__cards">
          {{#each promoted_articles}}
          <a class="category__card-container" href="{{url}}">
            <h3 class="category__card-header">
              {{title}}
              {{#if internal}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                  class="icon-lock" title="{{t 'internal'}}">
                  <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                  <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
                </svg>
              {{/if}}
            </h3>
            <p class="category__card-description">{{excerpt body characters=50}}</p>
            <div class="category__card-arrow">
              <include src="svg/icon-arrow-right.svg"></include>
            </div>
          </a>
          {{/each}}
        </div>
      </section>
    </div>
  </div>
{{/if}}

{{!--
  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}
    </section>
  {{/if}}

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
--}}
