<section id="main-content" class="section hero">
  <div class="hero-inner">
    <h2 class="hero-title">How can we help?</h2>
    {{search instant=settings.instant_search placeholder='Search all articles' class='search search-full'}}
  </div>
</section>

<div class="toggle-container">
  <button id="toggle-categories" class="categories-toggle-btn">Switch to Private</button>
</div>

<section id="category-public" class="categories-section categories-section--public active blocks">
  <div class="categories-container">
    <ul class="blocks__list">
      {{#each (slice categories 0 2)}}
        <li class="blocks__item" data-name="{{name}}">
          <div class="blocks__item-header">
              <div class="blocks__item-lockup">
                <div class="blocks__item-icon">
                  {{#is name 'minFraud Web Services'}}
                    <include src="svg/icon-minfraud.svg"></include>
                  {{/is}}

                  {{#is name 'GeoIP2 and GeoLite2'}}
                    <include src="svg/icon-geoip.svg"></include>
                  {{/is}}
                </div>
                <h2 class="blocks__item-heading">
                  {{name}}
                </h2>
              </div>
          </div>

          <div class="blocks__item-content">
            <span class="blocks-item-description">{{description}}</span>
          </div>

          <div class="blocks__item-links">
            {{#is name 'GeoIP2 and GeoLite2'}}
              <a href='/hc/en-us/articles/4407630528795-Choose-the-Right-Geolocation-Product' class="blocks__item-link">
                <span class="blocks__item-link-text">Overview</span>
                <include src="svg/icon-arrow-right.svg"></include>
              </a>
            {{/is}}
            {{#is name 'minFraud Web Services'}}
              <a href='/hc/en-us/articles/4407833140123-Compare-the-minFraud-Services' class="blocks__item-link">
                <span class="blocks__item-link-text">Overview</span>
                <include src="svg/icon-arrow-right.svg"></include>
              </a>
            {{/is}}
            <a href='{{url}}' class="blocks__item-link">
              <span class="blocks__item-link-text">See articles</span>
              <include src="svg/icon-arrow-right.svg"></include>
            </a>
          </div>
        </li>
      {{/each}}
    </ul>
    <ul class="blocks__cards">
      <a class="category__card-container"
        href="https://maxmind.zendesk.com/hc/en-us/articles/4408252036123-GeoIP-Corrections">
        <div class="category__card-icon">
          <include src="svg/icon-corrections.svg"></include>
        </div>
        <h3 class="category__card-header">Correct GeoIP2 Data</h3>
        <p class="category__card-description">We do our best to filter through all requests and apply them within a week if they are approved.</p>
        <div class="category__card-arrow">
          <include src="svg/icon-arrow-right.svg"></include>
        </div>
      </a>
      {{#each (slice categories 2 2)}}
        <a class="category__card-container" href="{{url}}">
          <div class="category__card-icon">
            {{#is name 'Account and Purchasing'}}
              <include src="svg/icon-account.svg"></include>
            {{/is}}

            {{#is name 'Data Privacy'}}
              <include src="svg/icon-privacy.svg"></include>
            {{/is}}
          </div>
            <h3 class="category__card-header">{{name}}</h3>
            {{#if description}}
            <p class="category__card-description">{{description}}</p>
            {{/if}}
            <div class="category__card-arrow">
              <include src="svg/icon-arrow-right.svg"></include>
            </div>
          </a>
      {{/each}}
    </ul>
  </div>
</section>

<section id="category-private" class="categories-section categories-section--private private blocks">
  <div class="container">
    <ul class="blocks__list">
      {{#each (filter categories on="description" starts_with="Internal")}}
        <li class="blocks__item" data-name="{{name}}">
          <div class="blocks__item-header">
            <div class="blocks__item-lockup">
              <div class="blocks__item-icon">
                {{#is name 'Sales'}}
                  <include src="svg/icon-sales.svg"></include>
                {{/is}}

                {{#is name 'Support'}}
                  <include src="svg/icon-support.svg"></include>
                {{/is}}

                {{#isnt name 'Sales'}}
                    {{#isnt name 'Support'}}
                      <include src="svg/icon-support.svg"></include>
                    {{/isnt}}
                {{/isnt}}
              </div>
              <h2 class="blocks__item-heading">
                {{name}}
              </h2>
            </div>
          </div>

          <div class="blocks__item-content">
            <span class="blocks-item-description">{{description}}</span>
          </div>
          <div class="blocks__item-links">
            <a href='{{url}}' class="blocks__item-link">
              <span class="blocks__item-link-text">View all articles</span>
              <include src="svg/icon-arrow-right.svg"></include>
            </a>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>

{{#if promoted_articles}}
  <div class="home__page-promoted">
   <div class="category__container">
      <section class="category__section">
        <h3 class="home__page-promoted-heading">Featured articles</h3>
        <div class="promoted__cards">
          {{#each promoted_articles}}
          <a class="category__card-container" href="{{url}}">
            <h3 class="category__card-header">
              {{title}}
              {{#if internal}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                  class="icon-lock" title="{{t 'internal'}}">
                  <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                  <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
                </svg>
              {{/if}}
            </h3>
            <div class="category__card-arrow">
              <include src="svg/icon-arrow-right.svg"></include>
            </div>
          </a>
          {{/each}}
        </div>
      </section>
    </div>
  </div>
{{/if}}
