<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
    <h2>Search the Knowledge Base</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h2 class="visibility-hidden">{{ t 'categories' }}</h2>
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item" category-name="{{name}}">
              <a href='{{url}}' class="blocks-item-link">
                <div class="blocks-item-icon">
                  {{#is name 'Support'}}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120.47 122.88" x="0px" y="0px">
                    <path d="M17.2,0H79.49a17.24,17.24,0,0,1,17.2,17.2V55.55a17.24,17.24,0,0,1-17.2,17.2H46.92L20.81,95.2A2.9,2.9,0,0,1,16,92.81l1.39-20.07H17.2A17.24,17.24,0,0,1,0,55.55V17.2A17.24,17.24,0,0,1,17.2,0ZM52.6,44.65H41.29v-.46a13.89,13.89,0,0,1,.65-4.69,10.39,10.39,0,0,1,2-3.29A59.46,59.46,0,0,1,49.72,31q2.41-2,2.41-3.6a3.35,3.35,0,0,0-1-2.55,4.19,4.19,0,0,0-2.94-.91,4.67,4.67,0,0,0-3.49,1.41c-.93.92-1.52,2.56-1.77,4.87L31.4,28.75A15.81,15.81,0,0,1,36,18.49q4-3.88,12.39-3.88c4.33,0,7.81.9,10.48,2.7a11.3,11.3,0,0,1,5.42,9.77A9.36,9.36,0,0,1,62.9,32a23.65,23.65,0,0,1-5.71,5.75,15.44,15.44,0,0,0-3.8,3.83,5.57,5.57,0,0,0-.79,3.1ZM40.9,48.32H53V57H40.9V48.32ZM106.79,28a16.92,16.92,0,0,1,13.68,16.55V82.88a16.9,16.9,0,0,1-16.85,16.85H103l1.42,20.44a2.54,2.54,0,0,1-4.18,2.1L74,99.07H39.49l17-17.3h36a14.34,14.34,0,0,0,14.3-14.3V29.11c0-.38,0-.76,0-1.13ZM79.48,5.8H17.2A11.44,11.44,0,0,0,5.8,17.2V55.55A11.44,11.44,0,0,0,17.2,67h3.53a2.9,2.9,0,0,1,2.69,3.08L22.29,86.31,43.83,67.79a2.87,2.87,0,0,1,2-.84H79.48a11.44,11.44,0,0,0,11.4-11.4V17.2A11.44,11.44,0,0,0,79.48,5.8Z"/>
                  {{/is}}
                  {{#is name 'Sales'}}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120.47 122.88" x="0px" y="0px">
                    <path d="M27.49,100.48V71.36h13.1c5.55,0.99,11.1,4.01,16.65,7.5h10.17c4.61,0.28,7.02,4.94,2.54,8.01c-3.56,2.62-8.27,2.47-13.1,2.04c-3.33-0.17-3.47,4.3,0,4.32c1.21,0.09,2.52-0.19,3.66-0.19c6.02-0.01,10.98-1.16,14.01-5.91l1.52-3.56l15.13-7.5c7.57-2.49,12.96,5.42,7.37,10.94c-10.96,7.97-22.2,14.53-33.69,19.83c-8.35,5.08-16.7,4.9-25.04,0L27.49,100.48L27.49,100.48L27.49,100.48z M38.07,35.01l48.75,12.5l-7.13,26.6l-48.75-12.5L38.07,35.01L38.07,35.01L38.07,35.01zM60.99,46.74c4.33,1.16,6.89,5.59,5.73,9.92c-1.16,4.33-5.6,6.89-9.92,5.73c-4.33-1.16-6.89-5.59-5.73-9.92C52.22,48.16,56.68,45.59,60.99,46.74L60.99,46.74z M45.54,41.35l31.6,7.91c-0.58,2.16,0.71,4.4,2.88,4.98l-2.81,10.52c-2.16-0.58-4.4,0.71-4.98,2.88l-31.61-7.91c0.58-2.16-0.71-4.4-2.88-4.98l2.81-10.52C42.72,44.81,44.96,43.52,45.54,41.35L45.54,41.35L45.54,41.35z M122.88,42.02H98.67V7.18h24.21V42.02L122.88,42.02z M94.72,10.11v29.11h-13.1c-5.55-0.99-11.1-4.01-16.65-7.5H54.8c-4.6-0.28-7.02-4.94-2.54-8.01c3.56-2.62,8.27-2.47,13.1-2.03c3.33,0.17,3.47-4.31,0-4.32c-1.21-0.09-2.52,0.19-3.66,0.19c-6.02,0.01-10.98,1.16-14.01,5.91l-1.52,3.56l-15.13,7.5c-7.57,2.49-12.96-5.42-7.37-10.94C34.63,15.6,45.86,9.04,57.36,3.74c8.35-5.08,16.7-4.9,25.04,0L94.72,10.11L94.72,10.11L94.72,10.11z M0,68.57h23.55v34.84H0V68.57L0,68.57z"/>
                  {{/is}}
                  {{#is name 'minFraud Services'}}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 154.5 102.5" x="0px" y="0px">
                    <path d="M121.2,31.2c-0.2-1.6-0.3-3.2-0.6-4.8c-0.7-5.9-1.5-11.7-2.3-18.7L118.1,6l-1.6-0.5C91.2-1.8,64.3-1.8,39,5.5L37.4,6l-0.2,1.6c-1,7.2-1.7,13-2.5,18.7c-0.2,1.6-0.5,3.1-0.7,4.7C15.2,33.6,0,38.5,0,45.9c0,5.6,8.7,9.8,21.1,12.6v24.8c0,4.7,2.6,8.9,6.7,11.1c6.5,3.4,16.2,8.1,25.4,8.1c5.6,0,11.1-1.4,16.1-4c3-1.4,5.3-2.4,7.9-2.4c2.3,0,4.8,1.1,7.7,2.3c4.1,1.8,9.3,4.1,16.3,4.1c9.2,0,18.9-4.6,25.4-8.1c4.1-2.2,6.7-6.5,6.7-11.2V58.4c12.5-2.6,21.2-6.7,21.2-12.4C154.5,38.7,139.7,33.8,121.2,31.2z M69,80.5c-2.5,4.3-8.5,7.2-15.2,7.2h-1.3c-7.3-0.4-13.5-3.9-15.7-8.9l-0.6-1.1l0.7-1.2c2.6-4.7,9.2-7.7,16.5-7.2c7.3,0.4,13.4,4,15.7,9l0.6,1.1L69,80.5z M116.4,78.8c-2.2,5-8.4,8.5-15.7,8.9h-1.3c-6.7,0-12.7-2.9-15.2-7.2l-0.7-1.1l0.6-1.1c2.3-5,8.4-8.6,15.7-9c7.3-0.5,13.9,2.5,16.5,7.2l0.7,1.2L116.4,78.8z M77.3,58.7c-46.5,0-72-8.4-72-12.7c0-2.6,9.7-6.9,28.1-9.7c-0.3,2.8-0.8,5.6-1.3,8.9l5,0.7c1-7.3,1.8-13.1,2.5-18.9c0.7-5.3,1.4-10.6,2.3-17c23-6.4,47.3-6.5,70.4-0.2c-3.2,1.8-14.9,4.5-34.5,4.5c-11,0-21.3-0.9-28.4-2.4l-1.2,4.9c7.3,1.6,18.1,2.6,29.5,2.6c5.2,0,26.7-0.2,36-4.7c0.6,4.4,1,8.4,1.5,12.4c0.7,5.8,1.5,11.7,2.3,18.7l5-0.6c-0.3-3.1-0.7-6-1-8.7c18,2.9,27.5,7,27.5,9.6C149.3,50.4,123.9,58.7,77.3,58.7z"/>
                  {{/is}}
                  {{#is name 'GeoIP and GeoLite'}}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120.47 122.88" x="0px" y="0px">
                    <path d="M81,63.2c-3.2-4.5-6.3-9.3-9.1-14c0.7,4.6,1.1,9.3,1.2,14H81z"/>
                    <path d="M95.1,71.1c-2.6,3.6-4.3,5.9-4.3,5.8c-1.8-2.6-3.8-5.3-5.9-8.2H73.2C73,74.8,72.4,80.9,71.3,87c5.5,0.7,10.9,2,16,3.8C91.5,85,94.2,78.2,95.1,71.1z"/>
                    <path d="M19.8,90.8c5.1-1.8,10.5-3.1,16-3.8c-1.1-6.1-1.8-12.2-1.9-18.3H11.8C12.2,76.6,15.1,84.3,19.8,90.8z"/>
                    <path d="M39.2,98.4c-0.7-2.1-1.5-4.3-2.1-6.6c-4.7,0.5-9.2,1.6-13.7,3c5.4,5.7,12.4,9.9,20,11.8C41.7,104.1,40.2,101.3,39.2,98.4z"/>
                    <path d="M70,91.8c-0.6,2.3-1.3,4.5-2.1,6.6c-1.1,2.9-2.5,5.7-4.2,8.2c7.6-2,14.6-6.1,20-11.8C79.3,93.4,74.7,92.4,70,91.8z"/>
                    <path d="M53.5,107.9c4.1-0.4,8.3-6.6,11.1-16.8c-3.5-0.3-7.1-0.5-11.1-0.5c-4,0-7.6,0.2-11.1,0.5C45.2,101.3,49.5,107.5,53.5,107.9z"/>
                    <path d="M53.5,23.2c-4.2,0.3-8.6,6.6-11.3,17c3.5,0.3,7.3,0.5,11.3,0.5c4,0,7.8-0.2,11.3-0.5C62.1,29.8,57.7,23.5,53.5,23.2z"/>
                    <path d="M100.9,62.4c0.1,1.1,0.1,2.1,0.1,3.2c0,9.7-3,19.2-8.4,27.1c-1,1.5-2.1,2.9-3.2,4.2c-9.4,10.8-22.6,16.3-35.8,16.4c-13.3,0-26.5-5.5-35.8-16.4c-1.1-1.3-2.2-2.7-3.2-4.2C9,84.8,6,75.3,6,65.6s2.9-19,8.4-26.9c0.9-1.5,2-2.9,3.2-4.3C26.7,24,39.7,18,53.5,18c3.3,0,6.6,0.4,9.8,1c0.3-1.9,0.9-3.8,1.5-5.5c-3.7-0.8-7.4-1.2-11.3-1.2C24,12.3,0,36.2,0,65.8c0,29.6,24,53.5,53.5,53.5c29.6,0,53.5-24,53.5-53.5c0-3.9-0.4-7.6-1.2-11.2C104.2,57.3,102.5,60,100.9,62.4z"></path><path d="M53.5,85.7c4.1,0,8.4,0.2,12.5,0.6c1.1-5.8,1.8-11.7,1.9-17.6H53.5H39.2c0.1,5.9,0.7,11.8,1.9,17.6C45.1,85.9,49.4,85.7,53.5,85.7z"/>
                    <path d="M23.2,36.5c4.5,1.5,9,2.6,13.7,3.2c0.6-2.4,1.4-4.7,2.2-6.9c1.1-2.9,2.5-5.7,4.3-8.2C35.6,26.6,28.7,30.7,23.2,36.5z"/>
                    <path d="M11.8,63.2h22.1c0.1-6,0.8-12.1,1.9-18c-5.5-0.7-10.9-2.1-16.1-4C15,47.7,12.2,55.3,11.8,63.2z"/>
                    <path d="M41.1,45.9c-1.1,5.7-1.7,11.5-1.8,17.4h14.2h14.2C67.6,57.4,67,51.6,66,45.9c-4.1,0.4-8.2,0.6-12.4,0.6C49.4,46.4,45.2,46.2,41.1,45.9z"/>
                    <path d="M71.8,39.5c0.8,1.7,1.8,3.4,2.8,5.2c3.6,6.4,8.2,12.8,12.3,18.5c1.4,1.9,2.7,3.7,3.9,5.5c0.1,0.2,0.2,0.3,0.3,0.5c0,0,0.2-0.2,0.4-0.5c1.1-1.5,4.7-6.3,8.7-12.5c6.7-10.4,14.7-24.3,14.7-31.9C115,11,104.6,0.2,91.5,0C79.4-0.2,69.3,8.5,67.6,20.1c-0.2,1.1-0.3,2.1-0.3,3.2c0,0.3,0,0.5,0,0.8c0,0.5,0,1.1,0.1,1.6C67.7,30,69.4,34.7,71.8,39.5zM91,9.1c6.8,0,12.3,5.6,12.3,12.4c0,6.8-5.6,12.3-12.3,12.3c-0.8,0-1.6-0.1-2.4-0.3c-4.3-0.9-7.7-3.9-9.2-7.9c-0.5-1.3-0.8-2.8-0.8-4.3C78.7,14.6,84.3,9.1,91,9.1z"/>
                  {{/is}}
                  {{#is name 'Account and Purchasing'}}
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 114.37">
                    <defs>
                      <style>.cls-1{fill-rule:evenodd;}</style>
                    </defs>
                    <path class="cls-1" d="M0,105.3C0,65.76,37.33,87.65,40.17,63.42c.31-2.64-5.91-9.61-7.34-14.43-3-4.87-4.15-12.6-.81-17.74,1.33-2.05.77-7.44.77-10.25,0-28,49.05-28,49.05,0,0,3.54-.82,8,1.11,10.76C86.17,36.42,84.5,44.67,81.79,49,80.06,54.05,73.44,60.55,74,63.42a15.9,15.9,0,0,0,2.82,6.74l-.48.47a8.54,8.54,0,0,0-1.84,2.73l-.12.31a8.22,8.22,0,0,0-.54,2.93,8.42,8.42,0,0,0,.68,3.28l.27.57a10.13,10.13,0,0,0-1.26.39,8.65,8.65,0,0,0-4.63,4.63l-.2.59a8.34,8.34,0,0,0-.42,2.61V94a8.23,8.23,0,0,0,.65,3.22l.24.52a8.69,8.69,0,0,0,1.51,2.13l.14.14a8.52,8.52,0,0,0,2.64,1.79l.67.24a6.94,6.94,0,0,0-.57,1.08,8.29,8.29,0,0,0-.62,2.14ZM115.16,75a2.16,2.16,0,0,0-1.55-.65,2.12,2.12,0,0,0-1.55.65L109.7,77.4a16.2,16.2,0,0,0-2-1.09,20.57,20.57,0,0,0-2.14-.83V71.86a2.17,2.17,0,0,0-2.18-2.19H98.83a2.12,2.12,0,0,0-1.53.64,2.09,2.09,0,0,0-.65,1.55v3.31a16.48,16.48,0,0,0-2.2.68,15.72,15.72,0,0,0-2,.94L89.8,74.21a2,2,0,0,0-1.51-.65,2.14,2.14,0,0,0-1.55.65L83.56,77.4a2.15,2.15,0,0,0,0,3.1l2.35,2.36a15.33,15.33,0,0,0-1.08,2A21.56,21.56,0,0,0,84,87H80.37a2.15,2.15,0,0,0-2.18,2.18v4.55a2.19,2.19,0,0,0,2.18,2.17h3.32a15.6,15.6,0,0,0,.67,2.2,20.6,20.6,0,0,0,.94,2.08l-2.58,2.57a2,2,0,0,0-.65,1.51,2.12,2.12,0,0,0,.65,1.55L85.91,109a2.2,2.2,0,0,0,1.55.61A2.17,2.17,0,0,0,89,109l2.36-2.4a16.2,16.2,0,0,0,2,1.09,21.31,21.31,0,0,0,2.13.83v3.62a2.19,2.19,0,0,0,2.19,2.19h4.54a2.12,2.12,0,0,0,1.53-.64,2.09,2.09,0,0,0,.65-1.55v-3.31a16.48,16.48,0,0,0,2.2-.68,21.65,21.65,0,0,0,2.08-.94l2.57,2.58a2,2,0,0,0,1.52.65,2,2,0,0,0,1.54-.65l3.22-3.19a2.19,2.19,0,0,0,.62-1.55,2.15,2.15,0,0,0-.62-1.55l-2.39-2.36a15.33,15.33,0,0,0,1.08-2,21.56,21.56,0,0,0,.84-2.14h3.62a2.15,2.15,0,0,0,2.18-2.18V90.31a2.13,2.13,0,0,0-.63-1.52,2.07,2.07,0,0,0-1.55-.65h-3.32a19.5,19.5,0,0,0-.67-2.18,16.93,16.93,0,0,0-.94-2.06l2.57-2.61a2,2,0,0,0,.66-1.52,2.11,2.11,0,0,0-.66-1.54L115.16,75Zm-14.63,8.08a8.89,8.89,0,0,1,3.48.69,8.81,8.81,0,0,1,4.73,4.74,9,9,0,0,1,0,6.94,8.81,8.81,0,0,1-4.73,4.74,9.1,9.1,0,0,1-7,0,8.81,8.81,0,0,1-4.73-4.74,9,9,0,0,1,0-6.94,8.81,8.81,0,0,1,4.73-4.74,8.88,8.88,0,0,1,3.47-.69Z"/>
                  {{/is}}
                  </svg>
                </div>
                <span class="blocks-item-title">{{name}}</span>
                <span class="blocks-item-description">{{description}}</span>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <span class="blocks-item-title">
                    {{name}}
                  </span>
                  <span class="blocks-item-description">{{description}}</span>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    {{#if promoted_articles}}
      <section class="articles">
        <h2>{{t 'promoted_articles'}}</h2>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                      <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                      <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                    </svg>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}}

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>
