<script>
  window.addEventListener('DOMContentLoaded', (event) => {
      const $replyBtn = document.querySelector('.comment-show-container');
      const $commentForm = document.querySelector('.comment-fields');
      const $submitBtn = document.querySelector('.comment-submit');

      function showCommentForm() {
        $commentForm.style.display = "block";
        $replyBtn.style.display = "none";
        $submitBtn.style.display = "block";
      }

      $replyBtn.addEventListener("click", showCommentForm)
    });
</script>

<div class="request__page">
  <header class="request__page__header">
    <h1 class="request__title">{{request.subject}}</h1>
  </header>

  <div class="request__container">
    <section class="request__details">
      <div class="request__details-id">
        <label class="request__details-label">Ticket:</label>
        <span class="request__details-span">#{{request.id}}</span>
      </div>
      <div class="request__details-requester">
        <label class="request__details-label">Name:</label>
        <span class="request__details-span">{{request.requester.name}}</span>
      </div>
      <div class="request__details-created">
        <label class="request__details-label">Created:</label>
        <span class="request__details-span">{{date request.created_at}}</span>
      </div>
      <div class="request__details-updated">
        <label class="request__details-label">Updated:</label>
        <span class="request__details-span">{{date request.updated_at}}</span>
      </div>
      <div class="request__details-status">
        <label class="request__details-label">Status:</label>
        <span class="request__details-span status-label status-label-{{request.status}}" title="{{request.status_description}}">
          {{request.status_name}}
        </span>
      </div>
      {{#if request.followup_source_id}}
        <div class="request__details-follow-up">
          <label class="request__details-label">Follow-Up:</label>
          <span class"request__details-span">{{link 'request' id=request.followup_source_id}}</span>
        </div>
      {{/if}}
      {{satisfaction}}
    </section>

    <section class="request__main">
      <div class="comment__list">
        {{#each comments}}
          <div id="{{anchor}}" class="comment">
            <div class="comment__wrapper">
              <div class="comment__info">
                <div class="comment__meta">
                  <div class="comment__author"title="{{author.name}}">
                    {{author.name}}
                  </div>
                  <div class="comment__time">
                    {{date created_at format='long'}}
                  </div>
                </div>

                <section class="comment__body">{{body}}</section>

                {{#if attachments}}
                  <ul class="attachments">
                    {{#each attachments}}
                      <li class="attachment-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="attachment-icon">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4"/>
                        </svg>
                        <a href="{{url}}" target="_blank">{{name}}</a>
                        <div class="attachment-meta meta-group">
                          <span class="attachment-meta-item meta-data">{{size}}</span>
                          <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">{{t 'download'}}</a>
                        </div>
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>

      {{pagination}}

      <div class="request__follow-up">
        {{comment_callout}}
      </div>

      {{#form 'comment' class='comment-form'}}
        <div class="comment-container">
          <button type="button" class="button comment-show-container{{#validate 'body'}}hidden{{/validate}}">
            Reply
          </button>

          <div class="comment-fields {{#validate 'body'}}shown{{/validate}}">
            {{#if help_center.request_ccs_enabled}}
              <div class="comment-ccs form-field">
               {{token_field 'ccs' class='ccs-input'}}
              </div>
            {{/if}}

            {{wysiwyg 'body' rows='7'}}

            <div class="comment-attachments">
              {{upload}}
            </div>
          </div>

          <button type="button" class="button comment-submit" value="Submit">
            Submit
          </button>
        </div>
      {{/form}}
    </section>
  </div>
</div>
