<script>
  window.addEventListener('DOMContentLoaded', (event) => {
      const $rows = document.querySelectorAll('tr[data-href]');

      $rows.forEach(row => {
        row.addEventListener('click', () => {
          window.location.href = row.dataset.href;
        })
      });
    });
</script>

<div class="my__requests">
  <header class="my__requests__header">
    <h1 class="my__requests__title">{{t 'my_requests'}}</h1>

      {{!-- <nav class="collapsible-nav collapsible-nav-border">
        <ul class="collapsible-nav-list"> --}}
      <nav class="my__requests-nav">
        <ul class="my__requests-nav-list">
          {{#each filters}}
            {{#if selected}}
              <li class="current">
                <a href="{{url}}" aria-current="page">{{name}}</a>
              </li>
            {{else}}
              <li>
                <a href="{{url}}">{{name}}</a>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </nav>
  </header>

  {{#form 'requests_filter' id="main-content" class='requests-table-toolbar'}}
    <div class="search search__requests">
      {{input 'query' id='quick-search' type='search' class='requests-search search search-full'}}
    </div>

    <div class="request-table-filter">
      {{label 'status' for='request-status-select' class='request-filter request-filter-label'}}
      {{select 'status' id='request-status-select' class='request-filter request-filter-dropdown'}}
    </div>
  {{/form}}

  <div class="requests">
    {{#if query}}
    <div class="requests-search-info meta-data">
      {{t 'requests_search_results_info' count=requests.length query=query}}
    </div>
    {{else}}
      {{#unless requests}}
        <p class="no-activities">{{t 'no_requests'}}</p>
      {{/unless}}
    {{/if}}

    {{#if requests}}
      <table class="table my-activities-table requests-table {{current_filter.identifier}}-requests">
        <thead>
          <tr>
            <th>{{t 'subject'}}</th>
            <th>{{t 'id'}}</th>
            <th>
              {{#is current_filter.identifier 'my'}}
                {{#link 'requests' sort_by='created_at'}}{{t 'created'}}{{/link}}
              {{else}}
                {{t 'requester'}}
              {{/is}}
            </th>
            <th>{{#link 'requests' sort_by='updated_at'}}{{t 'last_activity'}}{{/link}}</th>
            <th>
              {{t 'status'}}
            </th>
          </tr>
        </thead>

        <tbody>
          {{#each requests}}
            <tr class="{{#is status 'closed'}}request-closed{{/is}}" data-href="{{url}}">
              <td class="request-info requests-table-info">
                <a href="{{url}}" class="striped-list-title" title="{{subject}}">
                  {{#if subject}}
                    {{subject}}
                  {{else}}
                    {{excerpt description characters=50}}
                  {{/if}}
                </a>
              </td>
              <td>#{{id}}</td>
              <td>
                {{#is ../current_filter.identifier 'my'}}
                  {{date created_at timeago=true}}
                {{else}}
                  {{requester.name}}
                {{/is}}
              </td>
              <td>{{date updated_at timeago=true}}</td>
              <td class="requests-table-status">
                <span class="status-label status-label-{{status}}" title="{{status_description}}">
                  {{status_name}}
                </span>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>

  {{pagination}}
</div>
