<section class="section hero-small">
  {{search placeholder='Search by keyword' class='hero__search-small search search-full'}}
</section>

<div class="search__results">
  <header class="search__results-header">
    {{#if results}}
      <h1 class="search__results-heading">
        Search results for {{query}}
      </h1>
      <small class="search__results-count">{{results_count}} results found</small>
    {{else}}
     <h1 class="search__results-heading">
        No results found for {{query}}
      </h1>
      <p>Try another search term or browse our <a class="search__results-support-center"href="{{page_path 'help_center'}}">support center</a>.</p>
    {{/if}}
  </header>
  {{#if results}}
    <div class="search-results-list">
      {{#each results}}
        <article class="search__result-list-item result-{{type}}">
          <div class="search__result-title">
            <a href="{{url}}" class="search__result-link">
              {{title}}
            </a>
          </div>
          <small class="search__result-url">[URL placeholder if we want it]</small>
          <p class="search__result-description">{{text}}</p>
        </article>
      {{/each}}
    </div>
  {{else}}
    <div class="search__results-promoted">
      {{#if promoted_articles}}
        <div class="category__container">
          <section class="category__section">
            <h3 class="search__result-heading">Featured articles</h3>
            <div class="category__section-cards">
              {{#each promoted_articles}}
              <a class="category__card-container" href="{{url}}">
                <h3 class="category__card-header">
                  {{title}}
                  {{#if internal}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                      class="icon-lock" title="{{t 'internal'}}">
                      <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                      <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
                    </svg>
                  {{/if}}
                </h3>
                <p class="category__card-description">{{excerpt body characters=100}}</p>
                <div class="category__card-arrow">
                  <include src="svg/icon-arrow-right.svg"></include>
                </div>
              </a>
              {{/each}}
            </div>
          </section>
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{pagination}}
</div>
