<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const $categoryTitle = document.querySelector('ol.breadcrumbs > li:nth-child(2) > a');
    const $body = document.querySelector('body');

    if ($categoryTitle.innerText === 'GeoIP2 and GeoLite2') {
      $body.classList.add('page-type--geoip');
    } else if ($categoryTitle.innerText === 'minFraud Web Services') {
      $body.classList.add('page-type--minfraud');
    }
  });
</script>

<div class="section__page">
  <div class="section__header">
    {{breadcrumbs}}
    <h1 class="section__title">{{section.name}}</h1>
    <p class="section__description">
      {{#if section.description}}
        {{section.description}}
      {{/if}}
    </p>
  </div>
  <div class="section__articles">
    {{#if section.articles}}
      <ul class="article__list">
        {{#each section.articles}}
          <li class="article__list-item">
            <div class="icon__question">
              <include src="svg/icon-question.svg"></include>
            </div>
            <a href="{{url}}" class="article__list-link">
              {{title}}
              {{#if internal}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                  class="icon-lock" title="{{t 'internal'}}">
                  <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                  <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
                </svg>
              {{/if}}
            </a>
            <p class="article__list-excerpt">
              {{excerpt body characters=200}}
            </p>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <i class="section-empty">
        <a href="{{section.url}}">{{t 'empty'}}</a>
      </i>
    {{/if}}
  </div>
      {{pagination "section.articles"}}
</div>
